@use '@/styles/abstracts/_breakpoint.scss' as breakpoint;

@media screen and (max-width: 1224px) {
  .container-fluid,
  .x-container {
    padding: 0 16px !important;
  }
}

@include breakpoint.tablet {
  .container-fluid,
  .x-container {
    padding: 0 12px !important;
  }
}

@include breakpoint.mobile {
  .container-fluid,
  .x-container {
    padding: 0 12px !important;
  }
}

// on IOS
@supports (-webkit-touch-callout: none) {
  textarea,
  input {
    font-size: 16px !important;
  }
}
